<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="image-container">
        <img ngSrc="assets/logo.png" alt="Centered Image" class="centered-image" height="189" width="423">
      </div>
      <form class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" placeholder="User name">
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" placeholder="Password">
        </div>
        <button class="login__submit">Log In</button>
      </form>

    </div>
  </div>
</div>
