<div class="p-2">
  <div class="card">
    <div class="card-body">
        <label>Name:
          <input type="text" [(ngModel)]="appState.productState.keyword">
        </label>
        <button (click)="getProducts()" class="ms-2 btn btn-success">
          <i class="bi bi-search"></i>
        </button>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th> <th>Name</th> <th>Price</th> <th>Checked</th> <th>Delete</th> <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of appState.productState.products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product["price"]}}</td>
          <td>
            <i (click)="handleCheckProduct(product)" [class]="product.checked? 'bi bi-check':'bi bi-circle'"></i>
          </td>
          <td>
            <i (click)="deleteProduct(product)" class="btn btn-danger bi bi-trash"></i>
          </td>
          <td>
            <i (click)="updateProduct(product)" class="btn btn-success bi bi-pen"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(appState.productState.totalPages); let i=index">
          <button (click)="handlePage(i+1)" [ngClass]="appState.productState.currentPage==i+1? 'btn btn-dark':'btn btn-outline-dark'">{{(i+1)}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
