<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div layout:fragment="navbar">
    <div class="alert alert-danger m-3">
        <h2>Not Authorized</h2>
    </div>
</div>

</body>
</html>